/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'American typewriter', serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
body .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .navigation .logo img {
  width: 20rem;
}
body .navigation nav {
  margin-top: 1rem;
}
body .navigation nav a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  margin: 2rem;
}
footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #8DBFFD;
}
.home .intro {
  margin-top: 2rem;
}
.home .intro h1 {
  font-size: 5rem;
  padding: 2.5rem 2.5rem;
  font-family: 'American typewriter', serif;
  background-color: #FFDF46;
  border-radius: 1rem;
}
.home .intro h2 {
  padding: 1.5rem;
}
.home .intro p {
  padding: 0 1.5rem;
}
.services {
  display: flex;
  margin-top: 6rem;
  border-top: 1px solid #8DBFFD;
  padding-top: 2rem;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .services {
    padding: 10px 10px;
  }
}
.services .services-box {
  width: 25%;
}
@media (max-width: 500px) {
  .services .services-box {
    width: 100%;
    margin-top: 20px;
  }
}
.sign-up {
  display: flex;
  border-top: 1px solid #8DBFFD;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.sign-up .bf-quote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sign-up .bf-quote p {
  font-size: 3rem;
}
.sign-up .btn {
  margin-top: 2rem;
  background-color: #22283A;
  color: #F6F7F8;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
  height: 4rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .sign-up .btn {
    width: 80%;
    margin: auto;
    padding: 2rem 10rem;
  }
}
.sign-up .btn:hover {
  background-color: #F6F7F8;
  color: #22283A;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
  height: 4rem;
}
@media (max-width: 500px) {
  .sign-up .btn:hover {
    width: 80%;
    margin: auto;
    padding: 2rem 10rem;
  }
}
