/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitter', serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
.home .topnav {
  /* Style the navigation menu */
  display: flex;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  justify-content: space-between;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Add a grey background color on mouse-over */
  /* Style the active link (or home/logo) */
}
.home .topnav img {
  width: 20rem;
}
.home .topnav #myLinks {
  display: flex;
  display: none;
  margin-top: 5rem;
  margin-bottom: 1rem;
  /* Style navigation menu links */
}
.home .topnav #myLinks a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin: 1.5rem 1.5rem;
}
@media (max-width: 500px) {
  .home .topnav #myLinks a {
    font-size: 1.75rem;
    margin: 0.5rem 0.5rem;
  }
}
.home .topnav #myLinks a:hover {
  border-bottom: 1px solid #FF85CF;
}
.home .topnav .icon {
  color: black;
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.home .topnav .icon .fa-bars {
  margin-top: 1.5rem;
  font-size: 2rem;
}
.home .topnav a:hover {
  background-color: #fff;
  color: black;
}
footer {
  display: flex;
  border-top: 1px solid #8DBFFD;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.home .intro {
  margin-top: 2rem;
  background-color: #FFDF46;
  border-radius: 1rem;
}
.home .intro h1 {
  font-size: 5rem;
  padding: 2.5rem 2.5rem;
  font-family: 'Bitter', serif;
}
@media (max-width: 500px) {
  .home .intro h1 {
    font-size: 2.5rem;
  }
}
.home .services {
  display: flex;
  border-top: 1px solid #8DBFFD;
  margin-top: 6rem;
  padding-top: 5rem;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .home .services {
    flex-direction: column;
    padding: 10px 10px;
  }
}
.home .services .services-box {
  width: 25%;
}
@media (max-width: 500px) {
  .home .services .services-box {
    width: 100%;
    margin-top: 20px;
  }
}
.home .services .services-box i {
  margin-bottom: 2rem;
}
.home .services .services-box p {
  margin-top: 1.5rem;
}
.home .sign-up {
  display: flex;
  border-top: 1px solid #8DBFFD;
  justify-content: space-evenly;
  margin-top: 5rem;
}
@media (max-width: 500px) {
  .home .sign-up {
    flex-direction: column;
  }
}
.home .sign-up .bf-quote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.home .sign-up .bf-quote p {
  font-size: 3rem;
}
.home .sign-up .btn {
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  width: 20rem;
  height: 9rem;
  background-color: #FF85CF;
  color: #F6F7F8;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .sign-up .btn {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2.5rem 10rem;
  }
}
.home .sign-up .btn:hover {
  background-color: #F6F7F8;
  color: #FF85CF;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 500px) {
  .home .sign-up .btn:hover {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2.5rem 10rem;
  }
}
