// Home Content

.home {

    .intro {
      margin-top: 2rem;
      h1 {
        font-size: 5rem;
        padding: 2.5rem 2.5rem;
        font-family: @h1font;
        background-color: #FFDF46;
        border-radius: 1rem;
      }
  
      h2 {
        padding: 1.5rem;
      }
  
      p {
        padding:0 1.5rem;
      }
  
      // .main-img {
      //   width: 100%;
      //   height: auto;
      //   border-radius: 5px;
      // }
    
    }
  
    // .space-images {
    //   display: flex;
    //   flex-wrap: wrap;
    //   width: 100%;
    //   @media @phone {
    //     .img1 {
    //       width: 100%;
    //     }
    //     .img2 {
    //       display:none;
    //     }
    //     .img3 {
    //       display:none;
    //     }
    //   }
  
      // img {
      //   width: 28%;
      //   margin: 20px 2.5%;
      //   border-radius: 20px;
      //   height: 100%;
      // }
    }
  
    // .visit-planets {
    //   padding: 15px;
  
    //   h3 {
    //     margin-top: 11px;
    //   }
  
    //   p {
    //     margin-top: 13px;
    //   }
    // }
  
    .services {
      .flexify();
      margin-top: 6rem;
      border-top: 1px solid #8DBFFD;
      // padding: 50px 60px;
      padding-top: 2rem;
      justify-content: space-evenly;
      @media @phone {
        // flex-direction: column-reverse;
        padding: 10px 10px;
      }
  
      .services-box {
        width: 25%;
        @media @phone {
          width: 100%;
          margin-top: 20px;
        }
  
        // h3 {
        //   margin-bottom: 10px;
        //   @media @phone {
        //     width: 100%;
        //   }
        // }
          
        // p {
        //   margin-bottom: 2.6rem;
        //   // font-size: 3rem;
        //   @media @phone {
        //     width: 100%;
        //   }
        }
      }
      .sign-up {
        .flexify();
        border-top: 1px solid #8DBFFD;
        justify-content: space-evenly;
        margin-top: 5rem;

        .bf-quote {
          margin-top: 2rem;
          margin-bottom: 2rem;
          p {
            font-size: 3rem;
          }
        }

        .btn {
          margin-top: 2rem;
          .buttonStyle(@btn-bg-color, @porcelain, @mainfont, 20px);
          cursor: pointer;
          @media @phone {
            .mobileButton();
          }
        }
  
        .btn:hover {
          .buttonStyle(@porcelain, @btn-bg-color, @mainfont, 20px);
          @media @phone {
            .mobileButton();
          }
        }
      }
  
      // .walk-img {
      //   width: 46%;
      //   margin-left: 4%;
  
      //   @media @phone {
      //     width: 95%;
      //   }
        
      //   img {
      //     width: 100%;
      //     height: auto;
      //     border-radius: 10px;
      //   }
      // }
  // home