// Navigation code here

body {
    .navigation {
        .flexify();
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // background-color: @nav-bg;
    
        .logo {
            img {
                width: 20rem;
            }
        }
    
        nav {
            margin-top: 1rem;
            // margin-bottom: 1rem;
            a {
                .navitems();
            }
        }
    }
}

